<%- layout('boilerplate') -%>

<div class="container" style="width: 52%;">
    <h3 style="font-family:arial;text-align: center;color: whitesmoke;margin-top: 80px;margin-bottom: 0%;padding: 10px;background-color:#9b2a5e ;">Balance</h3>
    <div class=" text-center" style="border: 0px;background-color:#b7cfc9;padding: 50px;">
        <h5>Your Balance : <%=result1.rows[0][0] %> </h5>
</div>
