<%- layout('boilerplate') -%>
    <%- include("flash")-%>





        <div style="margin-top: 150px;">
            <div class="container text-center px-0" style="background-color:#b7cfc9;width: 50%; padding-top: 0%;">
                <div>
                    <h3
                        style="font-family:arial;text-align: center;color: whitesmoke;margin-top: 0%;padding: 10px;background-color:#9b2a5e ;">
                        LLL Bank</h3>
                </div>
                <div style="padding: 50px;">
                    <div class="row" style="padding: 30px;">
                        <div class="col">
                            <a style="text-decoration: none;color:#0a2044;" href="/accounts">
                                <img src="/images/account.png" alt="a" style="margin-bottom: 5px;"> <br>
                                Account</a> <br> <br>
                        </div>
                        <div class="col">
                            <a style="text-decoration: none;color: #0a2044;" href="/loan">
                                <img src="/images/loan.png" alt="l" style="margin-bottom: 5px;"> <br>
                                Loan</a> <br> <br>
                        </div>
                        <div class="col">
                            <a style="text-decoration: none;color: #0a2044;" href="/withdraw">
                                <img src="/images/withdraw.png" alt="w" style="margin-bottom: 5px;"> <br>
                                Withdraw</a> <br> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a style="text-decoration: none;color: #0a2044;" href="/deposit">
                                <img src="/images/deposit.png" alt="d" style="margin-bottom: 5px;"> <br>
                                Deposit</a> <br> <br>
                        </div>
                        <div class="col">
                            <a style="text-decoration: none; color: #0a2044;" href="/balance">
                                <img src="/images/balance.png" alt="b" style="margin-bottom: 5px;"> <br>
                                Balance</a> <br> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>